h1{
    background-color: black;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2{
    background-color:blueviolet;
    color: antiquewhite;
    text-align: center;
    font-style: italic;
}

h3{
    background-color: cornflowerblue;
    text-align: right;
    text-decoration: underline;
    font-family:'Courier New', Courier, monospace;
    color: darkblue;
}

.white{
    color: antiquewhite;
}