body{
    background-color:lightgray;
}

h1{
    text-align: center;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div{
    margin: 20px 0px 20px 0px;
    width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_row{
    background-color: aqua;
}

.middle_row{
    background-color:pink;
}

.bottom_row{
    background-color:white;
}