/* reset */
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	font-family: comic sans ms;
	}

/* Top Div */
	#topHeader{
		display:flex;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
	}

	#yourFeed {
		margin-top: 10px;
		font-size: 25px;
	}
/* Header Bar */
	#headBar {
		background-color: #333333;
		color: #ffffff;
		height: 80px;
		width: 700px; 
		margin: 0 auto;
		font-size: 50px;
	}

/* Main Body */
	#mainBody{
		display: flex;
		margin: auto;
		justify-content: center;
	}

/* Left Column */
	.mainUser{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		border: 2px solid black;
		width: 150px;
		height: 200px;
		padding: 20px;
		margin-top: 40px;
		margin-right: 10px;
	}
	/* Right Column */
	.userBox{
		border: 2px solid black;
		margin: auto;
		margin-top: 40px;
		width: 400px;
		height: 100px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
/* inside box user boxes */
	#top{
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	}

	h2{
		margin-right: 40px;
		margin-left: -30px;
	}

	#btn1, #btn2, #btn3{
		border: 2px solid black;
		box-shadow: 4px 4px black;
		width: 80px;
		background-color: goldenrod;
	}

	p{
		margin-bottom: -10px;
	}